/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    display: inline-block;
    font-size: 5rem;
    
}

header#main-logo img {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: top;
    width: 100px;
}

#container {
    background-color: bisque;
    height: 1200px;
    padding-top: 20px;
}

.button-container {
    background-color: white;
    margin: auto;
    width: 70%;
    padding: 20px;
}

#task-button {
    background-color: aqua;
}


